.full-width-table {
  width: 100%;
}

.books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem;
  // float: left;
  justify-content: flex-start;
  padding: 1em;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // font-size: large;
  background-color: #fff;
  // background-color: rgba($color: #fff, $alpha: 0.5);
}

.books a {
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
  text-decoration: none;
  font-size: medium;
  color: #000;
  border: #eee solid thin;
  text-align: center;
  width: 5rem;
}
.books a:not(:first-child) {
  // border-left: solid thin #eee;
}
.books a:hover {
  color: rgb(131, 11, 11);
}
